@section Style{
    <link rel="stylesheet" href="~/assets/css/contact.css">
}
<section class="contact-container">
    <div class="contact-container1">
        <h1>Get In Touch</h1>
        <p>Sit vulputate faucibus eget eget scelerisque faucibus malesuada nullam mollis ut montes, dui scelerisque ornare.</p>
        <i aria-hidden="true" class="fas fa-map-marker-alt" style="color: #5c9735;"></i>
        <span>VISIT US</span>
        <P>123 Demo St, San Francisco, CA 45678, United States</P>
        <i aria-hidden="true" class="fas fa-phone" style="color: #5c9735;"></i>
        <span>CALL US</span>
        <p>+123-456-7890</p>
        <i aria-hidden="true" class="fas fa-envelope" style="color: #5c9735;"></i>
        <span>EMAIL US</span>
        <p>mail@example.com</p>
        <p>______________________</p>
        <span>FALLOW US</span>
        <div>
            <i class="fa-brands fa-instagram" style=" padding: 20px"></i>
            <i class="fa-brands fa-facebook" style="padding: 20px"></i>
            <i class="fa-brands fa-twitter" style=" padding: 20px"></i>
            <i class="fa-brands fa-youtube" style="padding: 20px"></i>
        </div>
    </div>
    <div class="contact-container2">
        <h3 style="font-size:  2rem; font-weight: 400;">Drop us a line or two</h3>
        <p>Name <span style="color: red;">*</span></p>
        <input type="text" placeholder="Full Name">
        <p>Email Adress<span style="color: red;">*</span></p>
        <input type="text" name="" id="" placeholder="Email Adress">
        <p>Comment or Message<span style="color: red;">*</span></p>
        <textarea id="wpforms-356-field_2" class="wpforms-field-medium wpforms-field-required" name="wpforms[fields][2]" placeholder="Your message" required=""></textarea>
        <div><button style="background-color: #5c9735;margin: 20px; padding: 10px 30px; border-style: none;"><a href="" style="color: #fff;">Submit</a></button></div>
    </div>
</section>
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1422.2357165315655!2d49.86144179625849!3d40.407048570577125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307deb53815d5d%3A0x44f3cca1e25472ae!2sGarage%20Academy!5e0!3m2!1sru!2saz!4v1705424354010!5m2!1sru!2saz" width="100%" height="460" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
