@using Final_Back.Areas.Admin.ViewModels.Customer;
@model CustomerUpdateVM

<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="card-title">Add Customer</div>
            <hr>
            <form method="post" enctype="multipart/form-data" asp-action="update" asp-controller="customer" asp-area="admin">
               <input type="hidden" asp-for="FilePath"/> <!--submit eleyende shekil null gelir deye, silinmesin deye -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter Your Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Commentare</label>
                    <input asp-for="Description" class="form-control" placeholder="Enter Your Commentare">
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <div>
                    <img style="width:100px;height:100px" src="~/assets/img/@Model.FilePath"/>
                </div>
                 <div class="form-group">
                <label asp-for="Photo">Photo</label>
                <input asp-for="Photo" class="form-control">
                <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>