@using Final_Back.ViewModels.Account
@model AccountLoginVM
@section Style{
    <link rel="stylesheet" href="/assets/css/login.css">
}
    <h2 style="text-align:center; padding-bottom:20px;">Login</h2>
<div class="" style="display:flex; justify-content:center;align-items:center;">
    <div>
        <form asp-action="login" asp-controller="account" class="col-6">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label asp-for="Username" class="form-label"></label><br />
                <input autocomplete="off" asp-for="Username" class="form-control" />
                <span asp-validation-for="Username"></span>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label asp-for="Password" class="form-label" for="form2Example2"></label><br />
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>

            </div>
            <div asp-validation-summary="ModelOnly"></div>
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" style="background-color:#5c9735; color: #fff; padding: 3px 15px; border-radius:5px">Sign in</button>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a asp-action="register" asp-controller="account">Register</a></p>
            </div>

        </form>
    </div>
</div>
