@model Final_Back.Models.ImgContainer

<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="card-title">Add Image</div>
            <hr>
            <form enctype="multipart/form-data" method="post" asp-action="create" asp-controller="Image" asp-area="admin">
                <div class="form-group">
                    <label asp-for="PhotoFile">Photo</label>
                    <input asp-for="PhotoFile" class="form-control">
                    <span class="text-danger" asp-validation-for="PhotoFile"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-light px-4">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>