@model Final_Back.Models.HomeProducts

<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="card-title">Add product</div>
            <hr>
            <form method="post" asp-action="create" asp-controller="homeProduct" asp-area="admin">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Add Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control" placeholder="Add Description">
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FilePath">Photo</label>
                    <input asp-for="FilePath" class="form-control" placeholder="Add Photo">
                    <span class="text-danger" asp-validation-for="FilePath"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" placeholder="Add Price">
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-light px-4">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>